<h1>Courses page</h1>

<div class="row">
  <div class="col-md-12">
    <form ng-submit="save()">
      <div class="form-group">
        <label for="course_name">
          {{ 'wp.course_name' | translate }}
        </label>
        <input class="form-control"
               ng-model="entity.name"
               id="course_name"/>
      </div>
      <div class="btn btn-primary" ng-click="new()">
        {{ 'wp.action_new' | translate }}
      </div>
      <button class="btn btn-primary">
        {{ 'wp.action_save' | translate }}
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table>
      <tr>
        <th>#</th>
        <th>{{ 'wp.course_name' | translate }}</th>
        <th>{{ "wp.actions" | translate }}</th>
      </tr>

      <tr ng-repeat="c in courses">
        <td>[{{$index+1}}]</td>
        <td>{{c.id}} - {{c.name}}</td>
        <td>
          <button class="btn btn-xs btn-default" ng-click="edit(c.id)">
            {{'wp.edit' | translate }}
          </button>
          <button class="btn btn-xs btn-danger" ng-click="removePrompt(c.id)">
            {{'wp.delete' | translate }}
          </button>
        </td>
      </tr>
    </table>

  </div>
</div>